on: [push, workflow_dispatch]
jobs:
  build:
    name: Greeting
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run a multi-line script
      run: |
        curl -L https://github.com/ServiceStack/redis-windows/raw/master/downloads/redis-latest.zip -O redis-latest.zip
        ls
        Expand-Archive -Path redis-latest.zip
        cd redis-latest
        redis-server.exe redis.windows.conf
        redis-cli -v