on: [push, workflow_dispatch]
jobs:
  build:
    name: Greeting
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: Vampire/setup-wsl@v1
    - name: Run a multi-line script
      shell: wsl-bash {0}
      run: |
        sudo apt-get update
        sudo apt-get install redis-server
        redis-cli -v