on: [push]

jobs:
  build:
    name: Greeting
    runs-on: macos-latest
    steps:
#    - uses: actions/checkout@v2
    - name: Run a multi-line script
      run: |
        echo $HOME
        javac --version
        echo $JAVA_HOME_11_X64
