on: [push]

jobs:
  build:
    name: Greeting
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run a multi-line script
      run: |
        mkdir -p $HOME/lrc/lambda-node-remote-client/logs
        echo "moving HPS and LNRC to destination path"
        mv LNRC $HOME/lrc/lambda-node-remote-client
        mv LHPS $HOME/lrc/lambda-node-remote-client
        echo "running LNRC and LHPS"
        cd $HOME/lrc/lambda-node-remote-client
        ls
        chmod +x LNRC
        ./LNRC &> $HOME/lrc/lambda-node-remote-client/logs/lnrc.log &
        sleep 5
        ls logs/
    - uses: actions/upload-artifact@v2
      with:
        name: lnrc.log
        path: ~/lrc/lambda-node-remote-client/logs/lnrc.log
