on: [push, workflow_dispatch]
jobs:
  build:
    name: Greeting
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run a multi-line script
      run: |
        echo "installing redis"
        docker run --name redis --publish 6379:6379 --detach redis
        redis-cli -v