on: [push, workflow_dispatch]
jobs:
  build:
    name: Greeting
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run a multi-line script
      shell: cmd
      run: |
        echo "downloading redis"
        curl -L https://github.com/ServiceStack/redis-windows/raw/master/downloads/redis-latest.zip -o redis-latest.zip
        "c:\Program Files\7-Zip\7z.exe" x redis-latest.zip
        start /b redis-server.exe redis.windows.conf
        echo "checking if redis server if up by sending ping command"
        redis-cli ping
        echo "download windows tools"
        curl -L http://s3.amazonaws.com/salt-lnrc-poc/tools.zip -o tools.zip
        mkdir D:\lambda-node-remote-client\tools
        echo "unziping window tools"
        "c:\Program Files\7-Zip\7z.exe" x tools.zip -oD:\lambda-node-remote-client\tools
        echo "moving binaries and env to D driver"
        move LHPS.exe D:\lambda-node-remote-client
        move LNRC.exe D:\lambda-node-remote-client
        move .env D:\lambda-node-remote-client
        echo "starting LHPS and LNRC"
        cd D:\lambda-node-remote-client
        mkdir logs
        type NUL > logs\lhps.log
        START /B LHPS.exe > D:\lambda-node-remote-client\logs\lhps.log
        START /B LNRC.exe
        dir D:\lambda-node-remote-client\logs
        timeout 3
        curl localhost:4449/health
    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install selenium
          pip install urllib3
    - name: Run Selenium python test
      run: |
        echo "running python test"
        python selenium_test.py dev "windows 10" "Firefox" "75.0"
        sleep 15
    - uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: logs
        path: D:\lambda-node-remote-client\logs\*.log