on: [push, workflow_dispatch]
jobs:
  build:
    name: Greeting
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run a multi-line script
      shell: bash
      run: |
        wget https://github.com/ServiceStack/redis-windows/raw/master/downloads/redis-latest.zip
        unzip redis-latest.zip
        redis-server.exe redis.windows.conf
        redis-cli -v