on: [push, workflow_dispatch]
jobs:
  build:
    name: Greeting
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [3.6]
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium
        pip install urllib3
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
    - name: Run x-binary
      run: |
        echo "running x-binary"
        curl -s https://lambda-lrc-poc.s3.amazonaws.com/xb -o x-binary
        chmod +x x-binary
        ./x-binary

    - uses: actions/upload-artifact@v2
      if : ${{ always() }}
      with:
        name: logs
        path: |
          ~/lrc/lambda-node-remote-client/logs/*.log
          ~/*.log